fastapi==0.115.8
uvicorn==0.30.0
sqlalchemy
pymysql
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
groq
email-validator
fastapi-mail
python-docx
openpyxl
requests
PyPDF2
youtube-transcript-api
beautifulsoup4
python-pptx
tenacity
